ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

@media screen and (max-width:480px) {
   li {
    display: none;
    width: 100%;}
  }
@media screen and (min-width:480px){
    #icon{
    display:none;
    width:100%;
}
}
